<%- include ('partials/_header')  %>

<div class="container mt-5">
  <h1>Pokemons</h1>
  <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <div id="elem"></div>
          </div>
        </div>
      </div>
  </div>
</div>
    <script>
      const url='https://pokeapi.co/api/v2/pokemon/1/'
      fetch(url)
      .then(res => res.json())
      .then(data=> {
        let element = document.getElementById('elem')
        element.innerHTML = `
        <p>${data.name}</p>
        <p>${data.order}</p>
        <img src='${data.sprites.front_default}'/>
        `;
        console.log(data);
      })
      .catch(err=>console.log(err))
    </script>
<%- include ('partials/_footer')  %>